In [1]:
%pwd

'C:\\Users\\rlath\\JupyterNotebook\\DataItGirls\\titanic'

In [2]:
%ls

 C 드라이브의 볼륨: Windows
 볼륨 일련 번호: 44EC-5869

 C:\Users\rlath\JupyterNotebook\DataItGirls\titanic 디렉터리

2018-08-24  오후 12:37    <DIR>          .
2018-08-24  오후 12:37    <DIR>          ..
2018-08-24  오후 12:31    <DIR>          .ipynb_checkpoints
2018-08-13  오후 12:16            46,879 180813_kaggle_titanic.ipynb
2018-08-24  오전 11:56           163,389 180821_decision_tree_on_kaggle_titanic.ipynb
2018-08-24  오후 12:37           144,864 180824_1_missing_value.ipynb
2018-08-24  오후 12:34            10,559 180824_2_binning.ipynb
2018-08-24  오후 12:31             9,931 180824_3_one_hot_encoding.ipynb
2018-08-24  오전 11:55                 0 decision-tree.dot
2018-08-13  오전 11:58    <DIR>          submissions
2018-08-24  오전 11:55             3,258 submit.csv
2018-08-13  오전 11:39            28,629 test.csv
2018-08-13  오전 11:39            61,194 train.csv
               9개 파일             468,703 바이트
               4개 디렉터리  192,355,684,352 바이트 남음

In [3]:
import pandas as pd

In [4]:
import numpy as np
from plotnine import *

In [5]:
train = pd.read_csv('train.csv')

In [6]:
train.shape

(891, 12)

In [7]:
test = pd.read_csv('test.csv')

In [8]:
test.shape

(418, 11)

In [9]:
train.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [10]:
train.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [11]:
train.dtypes

PassengerId      int64
Survived         int64
Pclass           int64
Name            object
Sex             object
Age            float64
SibSp            int64
Parch            int64
Ticket          object
Fare           float64
Cabin           object
Embarked        object
dtype: object

In [12]:
train.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

In [13]:
train['Age_mean'] = train['Age'].fillna(train['Age'].mean(), inplace=False)

In [14]:
train['Age_mean'].isnull().sum()

0

In [15]:
train['Age'].isnull().sum()

177

In [16]:
train['Age_mean'].mean()

29.699117647058763

In [17]:
train['Age'].mean()

29.69911764705882

# One-Hot_Encoding

In [18]:
train['Sex'].value_counts()

male      577
female    314
Name: Sex, dtype: int64

In [19]:
train['Gender'] = (train['Sex'] == 'female')

In [20]:
train['Gender'].head()

0    False
1     True
2     True
3     True
4    False
Name: Gender, dtype: bool

In [21]:
train['Embarked'].isnull().sum()

2

In [22]:
test['Embarked'].isnull().sum()

0

In [23]:
train['Embarked_S'] = train['Embarked'] == 'S'

In [24]:
train['Embarked_C'] = train['Embarked'] == 'C'

In [25]:
train['Embarked_Q'] = train['Embarked'] == 'Q'

In [26]:
train['Embarked_S'].sum()

644

In [27]:
train['Embarked_C'].sum()

168

In [28]:
train['Embarked_Q'].sum()

77

In [29]:
train[['Embarked_S', 'Embarked_C', 'Embarked_Q']].astype(int)

     Embarked_S  Embarked_C  Embarked_Q
0             1           0           0
1             0           1           0
2             1           0           0
3             1           0           0
4             1           0           0
5             0           0           1
6             1           0           0
7             1           0           0
8             1           0           0
9             0           1           0
10            1           0           0
11            1           0           0
12            1           0           0
13            1           0           0
14            1           0           0
15            1           0           0
16            0           0           1
17            1           0           0
18            1           0           0
19            0           1           0
20            1           0           0
21            1           0           0
22            0           0           1
23            1           0           0
24            1           0           0
25            1           0           0
26            0           1           0
27            1           0           0
28            0           0           1
29            1           0           0
..          ...         ...         ...
861           1           0           0
862           1           0           0
863           1           0           0
864           1           0           0
865           1           0           0
866           0           1           0
867           1           0           0
868           1           0           0
869           1           0           0
870           1           0           0
871           1           0           0
872           1           0           0
873           1           0           0
874           0           1           0
875           0           1           0
876           1           0           0
877           1           0           0
878           1           0           0
879           0           1           0
880           1           0           0
881           1           0           0
882           1           0           0
883           1           0           0
884           1           0           0
885           0           0           1
886           1           0           0
887           1           0           0
888           1           0           0
889           0           1           0
890           0           0           1

[891 rows x 3 columns]

In [30]:
test['Embarked_S'] = test['Embarked'] == 'S'
test['Embarked_C'] = test['Embarked'] == 'C'
test['Embarked_Q'] = test['Embarked'] == 'Q'

# 가족 수 구하기

In [31]:
train.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked', 'Age_mean', 'Gender',
       'Embarked_S', 'Embarked_C', 'Embarked_Q'],
      dtype='object')

In [32]:
train['Family_size'] = train['SibSp'] + train['Parch'] + 1

In [33]:
train['Family_size'].value_counts()

1     537
2     161
3     102
4      29
6      22
5      15
7      12
11      7
8       6
Name: Family_size, dtype: int64

In [34]:
train['Family'] = train['Family_size']
train.loc[train['Family_size'] == 1, 'Family'] ='S'
train.loc[(train['Family_size'] > 1) & (train['Family_size'] < 5), 'Family'] ='M'
train.loc[train['Family_size'] > 4, 'Family'] = 'L'

In [35]:
test['Family_size'] = test['SibSp'] + test['Parch'] + 1
test['Family'] = test['Family_size']
test.loc[test['Family_size'] == 1, 'Family'] = 'S'
test.loc[(test['Family_size'] > 1) & (test['Family_size'] < 5), 'Family'] = 'M'
test.loc[test['Family_size'] > 4, 'Family'] = 'L'

In [36]:
train['Family'].value_counts()

S    537
M    292
L     62
Name: Family, dtype: int64

In [37]:
train.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Age_mean,Gender,Embarked_S,Embarked_C,Embarked_Q,Family_size,Family
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,22.0,False,True,False,False,2,M
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,38.0,True,False,True,False,2,M
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,26.0,True,True,False,False,1,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,35.0,True,True,False,False,2,M
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,35.0,False,True,False,False,1,S

In [38]:
train['Family_S'] = train['Family'] == 'S'
train['Family_M'] = train['Family'] == 'M'
train['Family_L'] = train['Family'] == 'L'

In [39]:
# !pip install graphviz

Requirement already satisfied: graphviz in c:\users\rlath\anaconda3\lib\site-packages (0.9)

In [40]:
feature_names = ['Age_mean', 'Gender',
                 'Embarked_S', 'Embarked_C', 'Embarked_Q',
                 'Family_S', 'Family_M', 'Family_L', 'Pclass']

In [41]:
X_train = train[feature_names]

In [42]:
y_train = train['Survived']

In [43]:
test['Age_mean'] = test['Age'].fillna(test['Age'].mean(), inplace=False)

In [ ]:
test['Gender'] = (test['Sex'] == 'female')

In [ ]:
test['Embarked_S'] = test['Embarked'] == 'S'
test['Embarked_C'] = test['Embarked'] == 'C'
test['Embarked_Q'] = test['Embarked'] == 'Q'

In [ ]:
test['Family'] = test['Family_size']
test.loc[test['Family_size'] == 1, 'Family'] ='S'
test.loc[(test['Family_size'] > 1) & (test['Family_size'] < 5), 'Family'] ='M'
test.loc[test['Family_size'] > 4, 'Family'] = 'L'

In [ ]:
test['Family_S'] = test['Family'] == 'S'
test['Family_M'] = test['Family'] == 'M'
test['Family_L'] = test['Family'] == 'L'

In [ ]:
train['Fare'].mode()

In [ ]:
train['Fare_mean'] = train['Fare']

In [ ]:
test['Fare_mean'] = test['Fare']

In [ ]:
train.loc[train['Fare_mean'] == 0, 'Fare_mean'] = 8.05
# train.loc[train['Fare_mean'] == 0]

In [ ]:
train['Fare_mean'].values

In [ ]:
import matplotlib.pyplot as plt


plt.plot(train['Fare_mean'].values)

In [ ]:
train.loc[train['Fare_mean'] < 200]['Fare_mean'].plot.hist()

In [ ]:
train['Fare_categ'] = train['Fare_mean']
train.loc[train['Fare_mean'] <= 20, 'Fare_categ'] = 'Low'
train.loc[(train['Fare_mean'] > 20) & (train['Fare_mean'] <= 80), 'Fare_categ'] = 'Med'
train.loc[train['Fare_mean'] > 80, 'Fare_categ'] = 'High'

In [ ]:
train['Fare_L'] = train['Fare_categ'] == 'Low'
train['Fare_M'] = train['Fare_categ'] == 'Med'
train['Fare_H'] = train['Fare_categ'] == 'High'

In [ ]:
test['Fare_categ'] = test['Fare_mean']
test.loc[test['Fare_mean'] <= 20, 'Fare_categ'] = 'Low'
test.loc[(test['Fare_mean'] > 20) & (test['Fare_mean'] <= 80), 'Fare_categ'] = 'Med'
test.loc[test['Fare_mean'] > 80, 'Fare_categ'] = 'High'

test['Fare_L'] = test['Fare_categ'] == 'Low'
test['Fare_M'] = test['Fare_categ'] == 'Med'
test['Fare_H'] = test['Fare_categ'] == 'High'

In [ ]:
X_test = test[feature_names]

In [ ]:
X_train = train[feature_names]
y_train = train['Survived']

In [ ]:
feature_names.append('Fare_L')
feature_names.append('Fare_M')
feature_names.append('Fare_H')
feature_names

In [ ]:
feature_names.pop(feature_names.index('Fare_L'))

In [ ]:
feature_names

In [ ]:
from sklearn.tree import DecisionTreeClassifier

model = DecisionTreeClassifier(max_depth=5, random_state=2018)
model.fit(X_train, y_train)
prediction = model.predict(X_test)
prediction

In [ ]:
from sklearn.model_selection import KFold
from sklearn.model_selection import cross_val_score
k_fold = KFold(n_splits=10, shuffle=True, random_state=0)

In [ ]:
scoring = 'accuracy'
score = cross_val_score(model, X_train, y_train, cv=k_fold, n_jobs=-1, scoring=scoring)
print(score)

In [ ]:
round(np.mean(score)*100, 2)

In [ ]:
test['Survived'] = prediction

In [ ]:
submissions = test[['PassengerId', 'Survived']]
submissions.to_csv('submit.csv', index=False)

In [ ]:
submissions

In [ ]:
!pip show graphviz

In [ ]:
from sklearn.tree import export_graphviz
import graphviz

export_graphviz(model,
                feature_names=feature_names,
                class_names=["Perish", "Survived"],
                out_file="decision-tree.dot")

with open("decision-tree.dot") as f:
    dot_graph = f.read()
    
# graphviz.Source(dot_graph)

In [ ]:
import os
os.environ["PATH"] += os.pathsep + 'C:/Program Files (x86)/Graphviz2.38/bin'
# C:\Users\rlath\Anaconda3\Lib\site-packages

In [ ]:
graphviz.Source(dot_graph)